.ui.vertical.fluid.tabular.menu {

}

.ui.grid {
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

.four.wide.column {
    width: 500px;
}

.ui.vertical.teal.inverted.massive.fluid.tabular.menu {
    width: 400px;
}

h2 {
    font-size: 12pt;
}

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #FFFFFF;
}

.plus.square.icon {

}

.four.wide.column {

}